.plagiarismsearch-good {
    font-weight: bold;
    color: #4cb201;
}

.plagiarismsearch-warning {
    font-weight: bold;
    color: #e7a404;
}

.plagiarismsearch-bad {
    font-weight: bold;
    color: #ed0c6e;
}
