.plagiarismsearch-bad {
    color: #ed0c6e;
    font-weight: bold;
}

.plagiarismsearch-good {
    color: #4cb201;
    font-weight: bold;
}

.plagiarismsearch-warning {
    color: #e7a404;
    font-weight: bold;
}
